<button routerLink="/login/">Sign in</button>

<table class="table">
  <tr>
    <td>Title</td>
  </tr>
  <tr>
    <a (click)="getProductsAll()">All products</a>
  </tr>
  <tr *ngFor = "let c of categories">
    <td><a (click)="getProducts(c.id)">{{c.title}}</a></td>
  </tr>
  <div *ngIf="pressed">
    <tr *ngFor = "let p of products">
      <td><a routerLink="/products/{{p.id}}/">{{p.title}}</a></td>
    </tr>
  </div>

  <div *ngIf="pressedPar">
    <tr *ngFor = "let p of products">
      <td><a routerLink="/products/{{p.id}}/">{{p.title}}</a></td>
    </tr>
  </div>
</table>


